* {
    padding: 0;
    margin: 0;
}

aside {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: rgb(241, 241, 241);
    justify-content: space-between;
}

aside div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

aside i {
    font-size: 24px;
    color: blueviolet;
    padding: 10px;
}

aside i:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 60px;
}


/* Estilos para el div que contiene los 4 componentes de la página home */
.graphicsContainer{
    display: grid;
    width: 50%;
    height: 100%;
    grid-template-columns: repeat(2, auto);
}

@media (max-width: 900px) {
    .graphicsContainer{
        width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: auto;
    }
}

/* Estilos del componente: TotalSalesTest */
.totalTestContainer{
    padding: 20px 10px;
    border-radius: 20px;
    background-color: lightpink;
}