@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/*VARIABLES*/
:root {
    --color-primary: #097355;
    --color-secondary: #10B981;
}

* {
    padding: 0;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F3F4FE;
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 150px;
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 10px;
    color: white;

}

aside .items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside .items-1 {
    padding: 10px 0;
}

aside .items-1 div {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

aside .hover div {
    padding: 10px;
    border-radius: 10px;
}

aside .hover div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

aside i {
    padding-right: 10px;
}

/* GENERAL */
.layout{
    margin-left: 180px;
}
.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.mb-50 {
    margin-bottom: 50px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: var(--color-secondary);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

/*-----------------------PAGES-----------------------*/

/*INVENTORY*/
#Inventory .topInfo {
    display: flex;
}

#Inventory .products {
    display: flex;
    flex-direction: row;
}

/*---------------------COMPONENTS--------------------*/
.flex-style-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.InfoCard {
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}

.InfoCard i {
    font-size: 60px;
    color: var(--color-secondary);
}

.InfoCard .info {
    display: flex;
    flex-direction: column;
}

.InfoCard .number {
    font-size: 30px;
}

.InfoCard .text {
    font-size: 15px;
    color: #5f5f5f;
}

.arrow-show-aside{
    font-size: 12px;
}

.ProductCard {
    background-color: white;
    border-radius: 10px;
}

.ProductCard .quantity {
    font-size: 18px;
}

.ProductCard .price {
    font-size: 13px;
    color: #5f5f5f;
}

.sales-card {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.sales-card .title {
    display: flex;
    align-items: center;
}

.sales-card .title span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-secondary);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
}

.sales-card .title span i {
    color: white;
}

.sales-card .title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 18px;
}

.sales-card .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sales-card .data p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
}

.doughnut-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 87%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

/*----------------------------------------------------------------------------*/
/* Estilos para el div que contiene los 4 componentes de la página home */
#section {
    background-color: white;
    border-radius: 10px;
}

.graphicsContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    height: 100%;
}

.topClientContainer {
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.topClientContainer .userCard {
    width: 50%;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: white;
    border-radius: 10px;
    border: solid 3px var(--color-secondary);
    padding: 0px 10px;
    color: black;
}

.topClientContainer .userCard img {
    width: 100%;
    margin: 5px;
    border-bottom: solid 1px var(--color-secondary);
}

@media (max-width: 1000px) {
    * {
        overflow-x: hidden;
    }

    .graphicsContainer {
        width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
    }

    .doughnutContainer {
        width: 300px;
        height: 300px;
    }
}

.ProductCard .price {
    font-size: 13px;
    color: #5f5f5f;
}

/*----------------------------------------------------------------------------*/
.CardClient {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    width: 150px;
    /* border: 1px solid var(--color-secondary); */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.CardClient img{
    border-radius: 10px;
}

.CardClient:hover{
    translate: 0 -10px;
    transition: 0.3;
}


.container-clients {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.add-button {
    background-color: #097355;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 26px;
    border-radius: 30px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.add-button:hover {
    cursor: pointer;
    background-color: #08644a;
}

.search-input {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.search-input input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: white;
    color: #0d0c22;
    transition: .3s ease;
}

.search-input input::placeholder {
    color: #9e9ea7;
}

.search-input input:focus,
.search-input input:hover {
    outline: none;
    border-color: #097355;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search-input i {
    position: absolute;
    left: 1rem;
    color: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* REGISTER PAGE */

.form-box {
    padding: 20px;
    max-width: 400px;
    background: var(--color-secondary);
    border-radius: 46px;
    color: #010101;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    text-align: center;
}

/*Form text*/
.title {
    background-color: transparent;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.subtitle {
    font-size: 1rem;
    background-color: transparent;
    color:white;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background-color: white;
    border-radius: 50px;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: transparent;
}

.form-section a {
    font-weight: bold;
    color: black;
    transition: color .3s ease;
    background-color: transparent;
}

.form-section a:hover {
    color: #08644a;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #097355;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-top: 20px;
}

.form button:hover {
    background-color: #08644a;
}

@media (max-width: 900px) {
    * {
        overflow-x: hidden;
    }

    /* aside{
        position: relative;
        width: 100%;
        height: 200px;
        flex-direction: row;
    } */

    .graphicsContainer {
        /* width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto; */
        grid-template-columns: auto;
    }

}

/* ----------LOS MODALS------------- */
.ModalBackground {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
}
.modalContainer{
    padding: 20px;
    max-width: 400px;
    background: var(--color-secondary);
    border-radius: 46px;
    color: white;
}
.closeModal{
    position: absolute;
    top: 50px;
    right: 20px;
}
.modalContainer input{
    background-color: white;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 90%;
    font-size: .9rem;
    padding: 0px 15px;
}
.modalContainer button{
    background-color: #097355;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-top: 20px;
}
.modalContainer img{
    width: 300px;
}

/* Estilos ModalProduct */
.fillProductData_container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}
.fillProductData_container .productName_input{
    grid-area: 1/1/2/3;
}

/* Estilos ModalClient */
.modalClient{
    display: flex;
    flex-direction: column;
    place-items: center;
}