@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
    padding: 0;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F3F4FE;
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 150px;
    background-color: #097355;
    padding: 10px;
    border-radius: 10px;
    color: white;

}

aside .items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside .items-1 {
    padding: 10px 0;
}

aside .items-1 div {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

aside .hover div {
    padding: 10px;
    border-radius: 10px;
}

aside .hover div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

aside i {
    padding-right: 10px;
}

/* GENERAL */
.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.mb-50 {
    margin-bottom: 50px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------PAGES-----------------------*/

/*INVENTORY*/
#Inventory .topInfo {
    display: flex;
}

#Inventory .products {
    display: flex;
    flex-direction: row;
}

/*---------------------COMPONENTS--------------------*/
.flex-style-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.InfoCard {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.InfoCard i {
    font-size: 60px;
    color: #097355;
}

.InfoCard .info {
    display: flex;
    flex-direction: column;
}

.InfoCard .number {
    font-size: 30px;
}

.InfoCard .text {
    font-size: 15px;
    color: #5f5f5f;
}

.ProductCard {
    background-color: white;
    border-radius: 10px;
}

.ProductCard .quantity {
    font-size: 18px;
}
.ProductCard .price {
    font-size: 13px;
    color: #5f5f5f;
}

/*----------------------------------------------------------------------------*/
/* Estilos para el div que contiene los 4 componentes de la página home */
#section{
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0px 10px 20px 5px rgb(191, 189, 189); */
}

.graphicsContainer{
    padding: 10vh 0%;
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
}
/*Posicionamiento en el grid*/
/* row-s/column-s/row-e/column-e */
.lineChartContainer{
    grid-area: 1/1/3/6;
}
.totalTestContainer{
    /* margin: 20px 10px; */
    grid-area: 1/5/3/10;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100px;
    border: solid 1px #097355;
    background-color: #F3F4FE;
    border: none;
}
.totalTestContainer div{
    margin: 0;
}
.totalTestContainer button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: none;
    justify-self: end;
    font-weight: 700;
}
.totalTestContainer div:nth-child(1){
    background-color: white;
    color: black;
    border-radius: 10px 0px 0px 10px;
}
.totalTestContainer div:nth-child(2){
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-color: #097355;
    color: white;
    border-radius: 0px 10px 10px 0px;
}
.topClientContainer{
    grid-area: 3/1/6/6;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    place-items: center;
    background-color: #F3F4FE;
    height: fit-content;
}
.topClientContainer label{
    width: 100%;
    text-align: center;
    grid-area: 1/1/2/3;
    color: white;
    background-color: #08644a;
}
.topClientContainer .userCard{
    width: 50%;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #097355;
    border-radius: 10px;
    border: solid 3px #14dda4;
    padding: 0px 10px;
    color: white;
}
.topClientContainer .userCard img{
    width: 100%;
    border-bottom: solid 2px #14dda4;
}
.doughnutContainer{
    grid-area: 2/6/6/10;
    width: 400px;
    height: 400px;
}

@media (max-width: 1000px) {
    *{
        overflow-x: hidden;
    }
    .graphicsContainer{
        width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
    }
    .doughnutContainer{
        width: 300px;
        height: 300px;
    }
}

.ProductCard .price {
    font-size: 13px;
    color: #5f5f5f;
}

/*----------------------------------------------------------------------------*/
.CardClient{
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
}


.container-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-buys,
.list-products {
    margin: 0;
}

.list-products {
    list-style: none;
    font-weight: bolder;
}

.add-button {
    background-color: #097355;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 26px;
    border-radius: 30px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.add-button:hover {
    cursor: pointer;
    background-color: #08644a;
}

.search-input {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.search-input input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: white;
    color: #0d0c22;
    transition: .3s ease;
}

.search-input input::placeholder {
    color: #9e9ea7;
}

.search-input input:focus,
.search-input input:hover {
    outline: none;
    border-color: #097355;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search-input i {
    position: absolute;
    left: 1rem;
    color: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* REGISTER PAGE */

.form-box {
    max-width: 400px;
    background: #f1f7fe;
    /* overflow: hidden; */
    border-radius: 46px;
    color: #010101;
}

.form {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 25px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #097355;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #08644a;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #097355;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #08644a;
}

@media (max-width: 900px) {
    *{
        overflow-x: hidden;
    }

    /* aside{
        position: relative;
        width: 100%;
        height: 200px;
        flex-direction: row;
    } */

    .graphicsContainer{
        /* width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto; */
        grid-template-columns: auto;
    }

}